html {
    scroll-behavior: smooth;

}

html::-webkit-scrollbar {
    border-radius: 10px;
    width: 10px;
}

/* html::-webkit-scrollbar-thumb {
    background-color: #d7d8e4;
    border-radius: 10px;
  } */
body {
    overflow-y: hidden;
}

section {
    margin: 20px 0;
}

.title-txt {
    font-size: 18px;
    letter-spacing: 0px;
    color: #171616;
    font-weight: bold;
    font-family: "Sakkal Majalla";
    text-align: right;
    filter: drop-shadow(4.243px 4.243px 2.5px rgba(0, 0, 0, 0.16));
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}



.info {
    border-radius: 13px;
    background-color: #203b50;
    font-size: 16px;
    letter-spacing: 0px;
    color: #fbfbfb;
    font-weight: bold;
    font-family: "Sakkal Majalla";

    display: flex;
    justify-content: center;
}

.info .date {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.info .details {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.details-child {
    text-align: end;
}

.date-child {
    text-align: center;
}

.headline {
    font-size: 30px;
    letter-spacing: 1px;
    color: #f11a1a;
    font-weight: bold;
    font-family: "Sakkal Majalla";
    text-align: center;
}

.description {

    height: auto;
    border-radius: 13px;
    filter: drop-shadow(4.243px 4.243px 3.5px rgba(0, 0, 0, 0.16));
    background-color: #ffffff;
    border: 1px solid #707070;
}

.desc-text {
    padding: 20px;
    font-size: 18px;
    color: #707070;
    font-weight: bold;
    font-family: "adwa";
    text-align: right;
    line-height: 1.8;
}

@media (max-width:600px) {
    .desc-text {
        font-size: 16px;
    }
}

.end {
    margin: 0 0 35px 0;
}
.end h3 {
    font-size: 22px;
    color: #707070;
    font-weight: bold;
    font-family: "adwa";
    text-align: center;
}

.end-img {
    display: flex;
    justify-content: center;
}

.end-img img {
    width: 105px;
}
@media (max-width:380px) {

    .headline {
        font-size: 30px;
    }

    .info {
        font-size: 14px;
    }
    .end h3 {
        font-size: 16px;
    }
    body {
        overflow-y: scroll;
    }
}

@media (max-width:340px) {
    .end-img img {
        width: 90px;
    }

 
}